@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700&family=Unbounded:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Unbounded", cursive; }

nav {
  background-color: #227028;
  height: 70px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  nav div .nav-logo {
    height: 250px; }
  nav .menu {
    width: 600px;
    text-align: center; }
    nav .menu .links-menu {
      display: flex;
      justify-content: space-around;
      list-style: none; }
      nav .menu .links-menu a {
        text-decoration: none;
        color: #000; }
      nav .menu .links-menu a:hover {
        color: #3a3a3a; }
  nav .dropdown {
    background-color: #072e09;
    border-radius: 20px; }
    nav .dropdown .dropdown-menu {
      background-color: #227028; }
    nav .dropdown ul li a {
      text-decoration: none;
      color: #ffffff; }
    nav .dropdown ul li a:hover {
      color: #000; }
    nav .dropdown ul li .dropdown-item:hover {
      background-color: #277c2e; }
    nav .dropdown .nav-dropdown {
      background-color: #072e09; }
    nav .dropdown .btn-secondary {
      border: #072e09; }
    nav .dropdown .nav-dropdown:hover {
      background-color: #0b5e0d; }
