@import "../scss/utilities/extras.scss";

.ms-main {
  background-color: $color-uno;
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-areas:
    "titulo"
    "html"
    "css"
    "js"
    "reacjs";
  .myskills-titulo {
    grid-area: titulo;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 60px;
      color: $header-color;
      //border: 1px solid $color-cinco;
      //padding: 5px;
      //box-shadow: 2px 2px 10px $color-cinco;
      text-shadow: 0 0 0px $color-cinco;
      transition: 2s;
    }
    h2:hover{
      //box-shadow: 2px 2px 20px $color-cinco;
      text-shadow: 0 0 3px $color-cinco;
    }
    div .main-grid-img {
      width: 100px;
    }
  }
  .myskills-html {
    grid-area: html;
    background-color: red;
    @extend %grid-skills;
  }
  .myskills-css {
    grid-area: css;
    background-color: blue;
    @extend %grid-skills;
  }
  .myskills-js {
    grid-area: js;
    background-color: yellow;
    @extend %grid-skills;
  }
  .myskills-reactjs {
    grid-area: reacjs;
    background-color: pink;
    @extend %grid-skills;
  }
}

%grid-skills {
  border: #000 3px solid;
  display: flex;
  justify-content: center;
  transition: 2s;
}
%sobras {
  box-shadow: 6px 5px 5px rgb(167, 157, 157);
  transition: 2s;
}
