@import"../scss/utilities/mixin.scss";

.sobre-mi {
  text-align: center;
  h2 {
    font-size: 40px;
    padding-bottom: 20px;
    padding-top: 10px;
  }
  .sobre-mi-conteiner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    div{
      @include sobre-mi;
    }
  }
 
}
