@import "../scss/utilities/mixin.scss";
@import "../scss/utilities/extras.scss";

.sobre-mi {
  background-color: $color-uno;
  text-align: center;
  h2 {
    font-size: 40px;
    padding-bottom: 20px;
    padding-top: 10px;
    color: $color-cuatro;
  }
  .sobre-mi-conteiner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
    div {
      @include sobre-mi;
      background: linear-gradient(
        180deg,
        rgba(5, 140, 66, 1) 26%,
        rgba(22, 219, 101, 1) 98%
      );
    }
  }
}
