//VARIABLES

//PALETA DECOLORES
$color-uno: #020202;
$color-dos: #0d2818;
$color-tres: #04471c;
$color-cuatro: #058c42;
$color-cinco: #16db65;
$color-texto: #ffffff; // dropdown
$color-hover: #277c2e; // dropdown
$header-color:#3f6853; // fondo de header